<h1>Editing climb</h1>

<%= render 'form' %>
<%= link_to 'Show', @climb %> |
<%= link_to 'Back', climbs_path %> |
<%= link_to 'Destroy', @climb, method: :delete, data: { confirm: 'Are you sure?' } %> 
