<h1>Climb Graph</h1>
<div id="graph"></div>
<h1>Climb List</h1>
<% @climbs = Climb.all %>
<%= render partial: "climbs/list" %>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
$( document ).ready(function() {
  do_graph();
});
</script>
